<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="minun.zte.axon30.under_screen_adjustment">

<!--    <uses-permission android:name="android.permission.INTERNET"/>-->

<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/Clean"
                 android:noHistory="true"
                 android:usesCleartextTraffic="true">

        <activity android:name=".AdjustmentActivity"
                  android:label="@string/app_name"
                  android:configChanges=""
                  android:lockTaskMode="always"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:theme="@style/Clean">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCompletedReceiver"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".OngoingService"
                 android:enabled="true"
                 android:label="@string/app_name"/>

        <service android:name=".AdjustmentService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                 android:enabled="true"
                 android:exported="true"
                 android:process=":accessibility"
                 android:label="@string/app_name">
            <meta-data android:name="android.accessibilityservice"
                       android:resource="@xml/accessibility_service_config"/>
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
        </service>

    </application>

</manifest>